.container{
    padding-left: 200px;
}
.btn-success {
    background-color: #2CA489;
}

.btn-warning {
    background-color: #ECB712;
}

.btn-danger {
    background-color: #AC162C;
}

th {
    text-align: center;
}

/*
#2CA489-zelena
#AC162C-crvena
#ECB712-zuta
*/