<app-dashboard-menu></app-dashboard-menu>

<div class="container">
        <div class="form-group" *ngIf='error!=""'>
                <div class="alert alert-danger" role="alert">{{error}}</div>
              </div>
    <ul class="buildings">
        <li *ngFor="let building of buildings">
            <span >{{building.uId}}</span>
            <ul>
                <li *ngFor="let location of building.locations">
                    <span class="badge">{{location.street}}</span>
                </li>
            </ul>
            
        </li>
    </ul>
</div>
