.container{
    margin: 0 200px;
}

img{
    width:100px;
    height:100px;
}

.images{
    display: inline-block;
}

.btn-success {
    background-color: #2CA489;
}

.btn-warning {
    background-color: #ECB712;
}

.btn-danger {
    background-color: #AC162C;
}

th {
    text-align: center;
    color: black;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

tr {
    color: #2CA489;
    font-weight: bold;
}

.glyphicon {
    margin-right: 5px;
}